@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* ============================= */
/* Custom Animations */
/* ============================= */

@keyframes fadeInSoft {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-soft {
  animation: fadeInSoft 0.4s ease-out forwards;
}


@keyframes pulseSoft {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

.animate-softPulse {
  animation: pulseSoft 2s infinite;
}